include README.md
include LICENSE
include pyproject.toml
recursive-include spineapi/templates *
recursive-include monitoring *
recursive-include kubernetes *
recursive-include examples *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
